@font-face {
  font-family: 'Sofia Sans';
  src: url('opensans.woff2') format('woff2');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.desktop {
  display: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
section {
  max-width: 320px;
}
.first-screen {
  background-image: url('./src/images/background.jpg');
  background-size: cover;
  height: 568px;
  background-repeat: no-repeat;
  position: relative;
}
.lady {
  position: absolute;
  width: 312px;
  left: 28px;
  top: 256px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.doctor {
  display: flex;
  width: 183px;
  height: 39.16px;
}
div.doctor div {
  display: flex;
}

.mob-phone {
  align-items: center;
  margin: 4px 7px 0;
  width: 127px;
  height: 15px;
}
.mob-phone a {
  display: flex;
}
.mob-phone img {
  width: 15px;
  height: 15px;
  padding-right: 3px;
}
.mob-phone span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.text-blue {
  color: #46b1de;
}
.text-center {
  text-align: center;
}
.main {
  margin: 47px auto 0 auto;
}
.main h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.1em;
}
.main div {
  margin-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
div[class^='buttons'] button {
  width: 100px;
  height: 35px;
  box-shadow: 0px 1.14px 5.7px #46b1de;
  border-radius: 4.5px;
  border-width: 0;
}
.call {
  margin-left: 10px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  background: linear-gradient(97.59deg, #46b1de 9.8%, #0591cc 95.1%);
}
.services {
  margin-right: 10px;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #dde0dc;
  box-shadow: 0px 2px 10px #dde0dc;
  border-radius: 8px;
  color: #46b1de;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

/*----------------------------------*/
footer[class='mobile'] {
  position: relative;
  width: 320px;
  height: 568px;

  background: linear-gradient(180deg, #a1c7d4 0%, #0680aa 100%);
}
footer[class='mobile'] div {
  width: 303.28px;
  height: 64.91px;
  position: absolute;
  left: 8px;
  top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  color: #0f2d4a;
  line-height: 140%;
}
footer[class='mobile'] div img {
  width: 51px;
  height: 56px;
  margin-left: 8px;
}
.uppercase {
  font-size: 27px;
  margin-left: 5px;
}
.lowercase {
  font-size: 19px;
}
